header{
    background-color: var(--secondaryColor);
    grid-area: header;
}

/*HEADER*/
.header-logo-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-logo-title img{
    width: 100px;
}
.header-logo-title h1{
    margin: 0;
    color: var(--secondaryColor);
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header a{
    text-decoration: none;
    color: var(--primaryColor);
    transition: 0.3s;
}
header a:hover{
    opacity:0.7;
}

nav {
    background-color: blue;
    grid-area: nav;
}
.nav-2{
    background-color: yellowgreen;
    grid-area: nav-2;
    margin-top: 20px;
}

.titre
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 200px;
	align-content: space-around;
}

.Plot
{
	height: 60px;
	width: 60px;
}

.maintenance
{
  display: flex;
  height: 300px;
  justify-content: space-around;
  align-items: center;
}

.tete
{
	height: 150px;
	width: 150px;
}

.Tout
{
	display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  padding-top:10px;
  padding-bottom:10px;
  border: 3px solid #3A6998;
  text-align: center;
  background: rgb(34, 206, 157);
  margin: auto;
}