.inscription-section-mt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inscription-form-ajust{
    text-align: center;
    background-color: rgb(34, 206, 157);
    border-radius: 5%;
    animation-duration: 1.5s;
    animation-name: flipInX;
}
form{
margin-top: 1em;
}
form input{
    margin: 5%;
}
form legend, option, p{
    color:#2F3A4B;
    padding:5px 5px
}

@keyframes flipInX {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0;
    }
  
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      animation-timing-function: ease-in;
    }
  
    60% {
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1;
    }
  
    80% {
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
  
    to {
      transform: perspective(400px);
    }
  }
  